:root {
  --sl-color-accent-low: #1a2744;
  --sl-color-accent: #3b6ece;
  --sl-color-accent-high: #b4d0ff;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
}

:root[data-theme='light'] {
  --sl-color-accent-low: #c9dbff;
  --sl-color-accent: #2856a3;
  --sl-color-accent-high: #162c54;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-black: #ffffff;
}
